* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.el-card {
  margin-top: 20px;
}

ul {
  list-style: none;
}

.el-form-item__content {
  float: left;
  width: 500px;
  margin: 0 !important;
}

.el-textarea__inner {
  resize: none;
  width: 500px;
  height: 150px;
}
